body{
    
}
.row{
    margin-bottom: 0;
}


/* home */


.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('../images/film.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.masthead-1 {
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('../images/profile.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}



/* login */


/* search */
.search-bar{
    background: #000;
    color: #fff!important;

}


/* profile */
.img-circle{
    height: 50vh;
}


/*backgrounds*/

.bg-index{
   background: url('../images/wave1.jpeg') no-repeat center center fixed ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-view{
background: url('../images/.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* nav */

.nav-color{
    background: #024249;
}

.base{
    color: #00a1ab;
}

/* view movie page */
small{
    font-size: 18px;
}

.img-fluid{
    
    width: auto;
}

/*images*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media only screen and (min-width: 600px){
    .wrapper{
        
    }
}

@media only screen and (max-width: 768px) {
    .wrapper{
        
    }
}

.card .card-image img{
    height: 460px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 .card .card-image img{
    height: 380px!important;
}
}

/* footer */
