

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
/* view movie page */
.materialboxed{
  
    padding-top: 60px!important;
}

.movie-description{
    padding-top: 20px!important;
}

.movie-tag-details{
    padding-top: 40px!important;
}

