body{
    
}

h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.row{
    margin-bottom: 0;
}

*{
    margin: 0;
    padding: 0;
}

/* home */

.section-home {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.section-home h2  {
  text-align: center;
  font-size: 5rem;
  padding: 20px;
  margin: 15px;
  z-index: 1;
  color: #fff;
}

.section-home p {
    text-align: center;
  font-size: 2rem;
  padding: 20px;
  margin: 15px;
  z-index: 1;
  color: #fff;
}

.video-container{
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  
}

.opaque-overlay{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.video {
     background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%);
    position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
}

/* Profile */

.masthead-1 {
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url('../images/film1.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.h-80{
    height: 70%;
}

/* search */
.search-bar{
    background: #000;
    color: #fff!important;

}


/* profile */
.img-circle{
    height: 50vh;
}


/*backgrounds*/

.bg-index{
   background: url('../images/wave1.jpeg') no-repeat center center fixed ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.search-result{
    height: 100vh!important;
}

.bg-view{
background: url('../images/.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* nav */

.nav-color{
    background: #024249;
}

.base{
    color: #00a1ab;
}

/* view movie page */
small{
    font-size: 18px;
}

.img-fluid{
    
    width: auto;
}

/*images grid */

.bg-100-search{
    height: 100%;
}

.card .card-image img{
    height: 460px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* Tablets */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.section-home{
      background: url('../images/cinema1.jpeg') black no-repeat center center scroll;
       -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
    video {
    display: none!important;
  }
.wrapper{
       display: block;
    }

.card .card-image img {
    height: 940px!important;
}

.card{
    height: 70vh;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.x-icon{
    font-size: 58px;
}

.dot-icon{
    font-size: 51px;
}

.btn i, .btn-large i, .btn-small i, .btn-floating i, .btn-large i, .btn-small i, .btn-flat i {
    font-size: 2rem;
    line-height: inherit;
}

.add-paragraph{
    font-size: 2.5rem;
   
    margin-bottom: 2rem;
}

.btn-index {
    height: 46px;
    width: 300px;
    font-size: 19px;
    align-content: center!important;
    margin-bottom: 29px;
    margin-top: 28px;
}

input:not([type]), input[type=text]:not(.browser-default){
    height: 5rem!important;
}

.descripton-mobile{
    font-size: 1rem!important;
}

.view-moviebtn{
        height: 46px;
    width: 300px;
    font-size: 19px;
    align-content: center!important;
    margin-bottom: 29px;
    margin-top: 28px;
}

.delete-moviebtn{
       height: 46px;
    width: 300px;
    font-size: 19px;
    align-content: center!important;
    margin-bottom: 29px;
    margin-top: 28px;
}

.fav-moviebtn{
        height: 46px;
    width: 300px;
    font-size: 19px;
    align-content: center!important;
    margin-bottom: 29px;
    margin-top: 28px;
}

.back-moviebtn{
   height: 46px;
    width: 300px;
    font-size: 19px;
    align-content: center!important;
    margin-bottom: 29px;
    margin-top: 28px;
    }

.btn-i{
  font-size: 2rem!important;
}

 


}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  /* For mobile phones: */
 
/*mobile navbar */
.navbar-fixed {
    height: 160px;
}

nav .nav-wrapper {
    position: relative;
    height: 164px;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 4.1rem;
    padding: 0;
    margin-top: 45px;
}

.hamburger{
    display: block!important;
    font-size: 90px!important;
    margin-top: 45px!important;
}

.sidenav li>a {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 37px;
    font-weight: 500;
    margin-top: 45px;
    height: 145px;
    line-height: 48px;
    padding: 0 32px;
}
/* Home mobile */
  .section-home{
      background: url('../images/cinema1.jpeg') black no-repeat center center scroll;
       -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
    video {
    display: none!important;
  }
  .wrapper{
       display: block;
    }

 .section-home .h2{
     font-size: 7rem!important;
 }
 
 .section-home .p{
     font-size: 4rem!important;
 }

 .button-home{
         height: 84px!important;
    width: 460px!important;
    font-size: 1.8rem!important;
 }
.home-icon{
    font-size: 2.3rem!important;
}

/* Index mobile */
.card .card-title {
    font-size: 45px;
    font-weight: 400;
}
.card .card-image img {
    height: 948px!important;
}

.btn-index{
       height: 67px;
    width: 332px;
    font-size: 27px;
    align-content: center!important;
        margin-bottom: 102px;

}


.bg-100{
    height: 110vh;
}

.card {
    position: relative;
    margin: 6rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.x-icon{
    font-size: 58px;
}

.dot-icon{
    font-size: 51px;
}

.btn i, .btn-large i, .btn-small i, .btn-floating i, .btn-large i, .btn-small i, .btn-flat i {
    font-size: 3rem;
    line-height: inherit;
}

.add-paragraph{
    font-size: 2.5rem;
   
    margin-bottom: 6rem;
}

.infotrailer-btn{
  height: 76px;
    width: 440px;
    font-size: 27px;
    align-content: center!important;
    margin-bottom: 40px;
    margin-left: 141px;
    margin-top: 40px;
}

input[type=text]:not(.browser-default){
    background-color: transparent;
    border: none;
   border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 11rem;
    width: 100%;
    font-size: 35px;
    margin: 0 0 8px 0;
    padding: 0;
    margin-bottom: 57px;
}

/* edit movie mobile */
.label-edit{
    font-size: 3rem!important;
}

.materialize-textarea{
        height: 197px!important;
        padding: 4.8rem 0 .8rem 0!important;
        font-size: 2rem!important;
}

.row .col.s12{
        margin-top: 34px;
}

.validate{

        font-size: 2rem!important;
}

.i-addmovie{
    font-size: 5rem!important;
}

.add-heading{
    font-size: 5rem!important;
}

.input-field .prefix ~ label {
    margin-left: 7rem!important;
    font-size: 3rem;
}

input[type=text]:not(.browser-default) {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 11rem;
    width: 100%;
    font-size: 35px;
    margin: 0 0 8px 0;
    margin-top: 60px;
    padding: 0;
    margin-bottom: 57px;
}

input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 7rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

/* nologin styles mobile */
.col-md-7 {
    -ms-flex: 0 0 58.333333%!important;
    flex: 14 0 58.333333%!important;
    max-width: 94.333333%!important;

}
.card-signin{
    height: 50vh;
}

.login-p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 4.5rem!important;
}

.welcome{
    font-size: 6.5rem!important;
}

.login-btn{
    height: 6vh;
    font-size:32px;
    margin-top: 76px;
}


.text-login{
    height: 6rem!important;
}

.text-info{
    font-size: 2.5rem!important;
}

.login-heading{
font-size: 5rem!important;
margin-bottom: 294px;
margin-top: 149px;
}

.group-spacing{
    margin-bottom: 5rem;
}

.button-login{
        border: none;
    border-radius: 2px;
    display: inline-block;
    height: 73px;
    width: 344px;
    margin-top: 89px;
    line-height: 36px;
    padding: 0 16px;
    font-size: 30px!important;
}

/* view movie mobile */

.image-view{
    display: none;
}

.col-md-6{
    min-width: 100%!important;
}

.input-field .prefix{
    font-size: 3rem!important;
}

.heading-mobile{
    font-size: 6.28rem!important;
}

.written-by{
        font-size: 25px!important;
}

.descripton-mobile{
    font-size: 2rem!important;
}

.view-moviebtn{
        height: 50px;
    width: 284px;
    font-size: 1.8rem!important;
}

.update-moviebtn{
        height: 77px;
    width: 284px;
    font-size: 1.8rem!important;
}

.delete-moviebtn{
        height: 50px;
    width: 398px;
    font-size: 1.8rem!important;
}

.fav-moviebtn{
        height: 50px;
    width: 450px;
    font-size: 2.5rem!important;
}

.back-moviebtn{
    height: 55px;
    width: 378px;
    font-size: 1.8rem!important;
    margin-top: 60px;
    }

.btn-i{
  font-size: 2rem!important;
}

.btn-text-small{
    font-size: 24px;
}

/* profile mobile */

.btn-profile{
       height: 97px;
    width: 332px;
    font-size: 27px;
    align-content: center!important;
        margin-bottom: 102px;

}


}

/* nologin.hmtl styles */
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
 
  transition: all 0.2s;
}

a{
    color: #fff!important;
    text-decoration: none!important; 
}


.nav-link {
  
  /* Ian Lunn hover fade */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color; }
  .nav-link:hover {
    color: #000!important;
    background-color: #00a1ab; }

.nav-link {
    display: block;
    padding: 0;
}

.navbar-brand:hover {
    color: #883d07; }

.nologin-bg{
    height: 100vh;
   background: url('../images/wave1.jpeg') no-repeat center center fixed ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


/* error on login page  */
.error-bg{
     height: 100vh;
   background: url('../images/wave1.jpeg') no-repeat center center fixed ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

h1{
    margin: 0;
}




/* dashboard */

