
<html>
 <head>
  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" type="text/css"/>

  </head>

 <body>
  <div class="navbar-fixed">
     <nav>
    <div class="nav-wrapper navbar-fixed-top  nav-color black">
      <a href="{{ url_for('home') }}" class="brand-logo">
      <span class="Cinematic">Cinematic</span>
      <span class="base">BASE</span>
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('home')}}">Home</a></li>
         
        <li><a href="{{url_for('login')}}">Login</a></li>
        <li><a href="{{url_for('profile')}}">Profile</a></li>
      </ul>
    </div>
  </nav>
  </div>

  <ul class="sidenav" id="mobile-demo">
   
    <li><a href="collapsible.html">Login</a></li>
    <li><a href="mobile.html">Signup</a></li>
  </ul>
      
      {% block content %}

      {% endblock %}
      


      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
             $('select').formSelect();
              $('.sidenav').sidenav();
              $('.materialboxed').materialbox();
              $(".dropdown-trigger").dropdown();
             });

  
    </script>
  </body>

</html>