
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> CinematicBase-Dashboard </title>
        <link href="{{url_for('static', filename='css/dash.css')}}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('home') }}">
            <span class="Cinematic">Cinematic</span>
            <span class="base">BASE</span>
            </a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button
            ><!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        
                        <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{{ url_for('home') }}"
                                ><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Home</a >
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link" href="{{ url_for('index') }}"
                                ><div class="sb-nav-link-icon"><i class="fas fa-film"></i></div>
                                Movies</a >
                                
                            <!--nav-->
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth"
                                        >Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                                    ></a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="login.html">Login</a><a class="nav-link" href="register.html">Register</a><a class="nav-link" href="password.html">Forgot Password</a></nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError"
                                        >Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                                    ></a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="401.html">401 Page</a><a class="nav-link" href="404.html">404 Page</a><a class="nav-link" href="500.html">500 Page</a></nav>
                                    </div>
                                </nav>
                            </div>
                            <!--Sidenav-->
                            <div class="sb-sidenav-menu-heading">Menu</div>
                            <a class="nav-link" href="{{ url_for('logout') }}"
                                ><div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Logout</a
                            ><a class="nav-link" href="{{ url_for('profile') }}"
                                ><div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Profile</a
                            >
                            <!--/ Sidenav-->
                        </div>
                    </div>
                    <!-- Lgged in as -->
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as: {{user.username}}</div>
                       
                    </div>
                    <!--/ logged in as-->
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">CinematicBase</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <!--Heading for chart-->
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-area mr-1"></i>Year vs Revenue </div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Genre vs Revenue </div>
                                    <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <!--Highest Grossing section-->
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-1"></i>Highest Grossing Movies of all Time: </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Genre</th>
                                                <th>Gross</th>
                                                <th>Year</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Title</th>
                                                <th>Genre</th>
                                                <th>Gross</th>
                                                <th>Year</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr>
                                                <td>Avengers: Endgame</td>
                                                <td>Action</td>
                                                <td>$2,797,800,564</td>
                                                <td>2019</td>
                                            </tr>
                                            <tr>
                                                <td>Avengers: Infinity War</td>
                                                <td>Action</td>
                                                <td>$38,232,852,127</td>
                                                <td>2018</td>
                                                
                                            </tr>
                                            <tr>
                                                <td>Captain America: Civil War</td>
                                                <td>Action</td>
                                                <td>$36,930,388,582	</td>
                                                 <td>2016</td>
                                            </tr>
                                            <tr>
                                                <td>The Avengers</td>
                                                <td>Sci-fi</td>
                                                <td> $31,702,714,390</td>
                                                <td>2012</td>
                                            </tr>
                                            <tr>
                                               <td>	Harry Potter and the Deathly Hallows: Part II</td>
                                                <td>Action</td>
                                                <td>$27,427,759,663	</td>
                                                <td>2010</td>
                                            </tr>
                                            <tr>
                                               <td>	The Dark Knight</td>
                                                <td>Thriller</td>
                                                <td> The Dark Knight</td>
                                                <td>2008</td>
                                            </tr>
                                            <tr>
                                               <td>Pirates of the Caribbean: Dead Man’s Chest</td>
                                                <td>Family</td>
                                                <td>$20,076,206,676</td>
                                                <td>2006</td>
                                            </tr>
                                            <tr>
                                               <td>	Shrek 2</td>
                                                <td>Family</td>
                                                <td>$18,995,194,875</td>
                                                <td>2004</td>
                                            </tr>
                                            <tr>
                                               <td> Mission: Impossible 2</td>
                                                <td>Action</td>
                                                <td>$13,324,122,644</td>
                                                <td>2000</td>
                                            </tr>
                                            <tr>
                                               <td>Star Wars Ep. I: The Phantom Menace</td>
                                                <td>Sci-fi</td>
                                                <td>$13,535,365,030</td>
                                                <td>1999</td>
                                            </tr>
                                             <tr>
                                               <td>Titanic</td>
                                                <td>Drama</td>
                                                <td>$2,194,439,542	</td>
                                                 <td>1997</td>
                                            </tr>
                                             <tr>
                                               <td> Die Hard: With a Vengeance</td>
                                                <td>Action</td>
                                                <td>$9,866,941,010</td>
                                                <td>1995</td>
                                            </tr>
                                            
                                        </tbody>
                                        <!--/Highest Grossing section-->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; CinematicBase</div>
                            
                        </div>
                    </div>
                </footer>
            </div>
        </div>
                            <!--script tags-->

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    </body>
</html>

 <script>
 (function($) {
    "use strict";

    // Add active state to sidbar nav links
    var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
        $("#layoutSidenav_nav .sb-sidenav a.nav-link").each(function() {
            if (this.href === path) {
                $(this).addClass("active");
            }
        });

    // Toggle the side navigation
    $("#sidebarToggle").on("click", function(e) {
        e.preventDefault();
        $("body").toggleClass("sb-sidenav-toggled");
    });
})(jQuery);



 </script>

<script>

// Area Chart Example
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ["95", "97", "99", "00", "04", "06", " 08", " 10", " 12", " 16", " 18", " 19", " 20"],
    datasets: [{
      label: "Sessions",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 50,
      pointBorderWidth: 2,
      data: [1450026933, 1402805868, 1450026933, 1450026933, 1516045911, 1518812988, 1656943394, 1671713208, 2048359754, 2068223624, 2194439542, 2790439000, 2797800564],
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          min: 1150026933,
          max: 2797800564,
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});



// Bar Chart Example
var ctx = document.getElementById("myBarChart");
var myLineChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["Comedy", "Drama", "Sci-fi", "Thriller", "Family", "Action"],
    datasets: [{
      label: "Revenue",
      backgroundColor: "rgba(2,117,216,1)",
      borderColor: "rgba(2,117,216,1)",
      data: [4215, 5312, 6251, 7841, 9821, 14984],
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: "month"
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 6
        }
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 15000,
          maxTicksLimit: 5
        },
        gridLines: {
          display: true
        }
      }],
    },
    legend: {
      display: false
    }
  }
});
</script>