{% extends 'base.html' %} 
{% block content %}
<div class="h-100">
<section>
  <div class="container">
  <!--Heading-->
 <h3 class="center ">Edit Movie</h3>
<!-- Edit Movie name-->
    <form action="{{ url_for('update_movie', movie_id=movie._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix ">create</i>
                <input id="movie_name" name="movie_name" type="text" class="validate" value="{{movie.movie_name}}">
                <label class="label-edit" for="icon_prefix">Movie name</label>
            </div>
       </div>
       <!-- Edit Movie director-->
       <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix ">videocam</i>
                <input id="movie_director" name="movie_director" type="text" class="validate" value="{{movie.movie_director}}"> 
                <label class="label-edit" for="icon_prefix">Directed by:</label>
            </div>
       </div>
       <!-- Edit Movie writer-->
       <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix ">keyboard</i>
                <input id="movie_writer" name="movie_writer" type="text" class="validate " value="{{movie.movie_writer}}">
                <label class="label-edit" for="icon_prefix">Writen by:</label>
            </div>
       </div>
       <!-- Edit Movie description-->
         <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="movie_description" id="movie_description"  class="materialize-textarea " >{{movie.movie_description}}</textarea>
                <label class="label-edit" for="icon_telephone" >Movie Description</label>
            </div>
         </div> 
         <!-- Edit Movie Genre-->
        <div class="row">
            <div class="input-field col s12 ">
            <i class="material-icons prefix">assignment_ind</i>
             <select id="category" name="category_name">
               <option  value="" disabled selected>Choose</option>
               {% for cat in categories%}
                {% if cat.category_name == movie.category_name%}
                 <option class="" value="{{cat.category_name}}" selected >{{cat.category_name}}</option>
                 {% else %}
                 <option class="" value="{{cat.category_name}}"  >{{cat.category_name}}</option>
                {% endif %}

               {% endfor %}
             </select>
               <label class="label-edit">Select genre of movie</label>
            </div>
      </div>
      <!-- Edit Movie Rating-->
      <div class="row">
           <div class="input-field col s12">
              <p>Rating</p>
               <p class="range-field">
               <input type="range" name="movie_rating" id="movie_rating" value="{{movie.movie_rating}}"   min="0" max="100" />
               </p>
           </div>
      </div>
      <!-- Edit Movie stars-->
      <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix ">star</i>
                <input id="movie_stars" name="movie_stars" type="text" value="{{movie.movie_stars}}" class="validate ">
                <label class="label-edit" for="icon_prefix">Movie Stars:</label>
            </div>
       </div>
       <!-- Edit Movie Time-->
       <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix ">access_time</i>
                <input id="movie_time" name="movie_time" type="text" value="{{movie.movie_time}}" class="validate ">
                <label class="label-edit" for="icon_prefix">Movie time:</label>
            </div>
       </div>
       <!-- Edit Movie Image-->
      <div class="row ">
        <div class="col s12">
        <p>Insert Image URL here:</p>
        
          <div class="input-field inline">
            <input class="label-edit vailidate" id="img_url" name="img_url" type="url"  value="{{movie.img_url}}">
            <label   for="email_inline">URL</label>
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
          </div>
        </div>
    </div>
    <!-- Edit Movie Trailer-->
      <div class="row ">
        <div class="col s12  " >
        <p> youtube trailer embedded URL here:</p>
           
          <div class="input-field inline">
            <input class="label-edit validate" id="movie_trailer" name="movie_trailer" type="url"  value="{{movie.movie_trailer}}">
            <label for="email_inline">URL</label>
            <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
          </div>
        </div>
    </div>
    
      
     <!-- Edit Movie Update button-->
      <div class="row center-align">
       <div class="col s12">
        
        <form> 
         <button class="btn waves-effect waves-light pulse view-moviebtn" type="submit" name="action">Update
           <i class="material-icons right">fiber_new</i>
         </button>
              
           </form>
         </div>
       </div>
    </form>
<!-- Edit Movie back button-->
    <div class="row ">
       <div class="col s12 mb-3">
       
       <form action="{{ url_for('view_movie', movie_id=movie._id) }}"> 
         <button class="btn waves-effect waves-light back-moviebtn">Back to Movie
           <i class="material-icons right btn-i">apps</i>
         </button>
           </form>


         </div>
       </div>

</div>
</section>
</div>
{% endblock %}
