{% extends 'base.html' %} 

 {% block content %} 
  <div class="section-home ">
   <!--Heading -->
     <h2 class="h2">
       <span class="Cinematic">Cinematic</span>
       <span class="base">BASE</span>
        </h2>
        <!--Lead -->
        <p class=" p lead text-light">The best Movie Database</p>
        
        <!--button to index-->
        <form action="{{url_for('index')}}">
               <button class=" button-home btn waves-effect pulse waves-light " > Search our database!
          <i class="material-icons right home-icon">arrow_forward</i>
          </button>
           </form>
      
         
       <!--Video -->
     <div class="video-container .d-sm-none .d-md-block ">
      
        <div class="video ">
        <div class="opaque-overlay">&nbsp;</div>
        <video  autoplay muted loop id="myVideo"><source src="{{ url_for('static', filename='videos/camera.mp4') }}" type="video/mp4"></video>
        
        </div>  
  </div>
  {% endblock %}