{% extends 'base.html' %} 

 {% block content %} 
  <div class="section-home">
   
     <h2>
       <span class="Cinematic">Cinematic</span>
       <span class="base">BASE</span>
        </h2>
        <p class="lead text-light">The best Movie Database</p>

      
        <a href="{{url_for('index')}}">
          <button class="btn waves-effect waves-light " > Search our database!
          <i class="material-icons right">arrow_forward</i>
          </button>
        </a>
      

     <div class="video-container ">
      
        <div class="video ">
        <div class="opaque-overlay">&nbsp;</div>
        <video autoplay muted loop id="myVideo"><source src="{{ url_for('static', filename='videos/camera.mp4') }}" type="video/mp4"></video>
        
        </div>  
  </div>
  {% endblock %}