{% extends 'base.html' %} 

 {% block content %} 

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-dark text-light">
       <span class="Cinematic">Cinematic</span>
      <span class="base">BASE</span>
        </h1>
        <p class="lead text-light">The best Movie Database</p>
        <a href="{{url_for('index')}}">
        <button class="btn waves-effect waves-light " > Search our database!
          <i class="material-icons right">arrow_forward</i>
        </button>
        </a>
      </div>
    </div>
  </div>
</header>


  {% endblock %}