{% extends 'base.html' %} 

 {% block content %} 

<div class="error-bg">
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center welcome">Login failed</h5>
            <p class="text-center login-p">Your login has failed please try to login again.
            Or if you dont have an account register </p>
            
              
              
              <hr class="my-4">
               
                <form action="{{ url_for('login') }}">
               <button class="btn btn-lg mb-3 btn btn-block text-uppercase login-btn" >Login</button>
           </form>

              <form action="{{ url_for('signup') }}">
               <button class="btn btn-lg  btn-block text-uppercase login-btn" >Register</button>
           </form>
            
        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>        
        
        
        

 
 
{% endblock %}