{% extends 'base.html' %} 

 {% block content %} 
<section class="nologin-bg">
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Welcome</h5>
            <p class="text-center">To proceed further, Login or sign up!</p>
            <form class="form-signin">
              
              
              <hr class="my-4">
              <button class="btn btn-lg btn btn-block text-uppercase" ><a href="{{ url_for('login') }}">Login</a></button>
              <button class="btn btn-lg  btn-block text-uppercase" ><a href="{{ url_for('signup') }}">Register</a></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 </section>

 
 
{% endblock %}