{% extends 'base.html' %} 

 {% block content %}  

<header class="masthead-1">
  <div class="container h-80">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-dark text-light">
        's Profile
        </h1>
       <h6 class="text-light">You are user number 
            </h6>
        </div>
        <div class="row ">
       <div class="col s12">
       <a href="{{ url_for('index') }}">
         <button class="btn waves-effect waves-light ">Movies
           <i class="material-icons right">apps</i>
         </button>
         </a>
         <a href="{{url_for('index')}}">
        <button class="btn waves-effect waves-light " > All movies here!
          <i class="material-icons right">arrow_forward</i>
        </button>
        </a>
         </div>
         
       </div>
  </div>
</div>
    
</header>
 
{% endblock %}