{% extends 'base.html' %} 

 {% block content %} 
<div class="search-result">
 <section class="search-bar "> 
  <div class="container">
 
 <!-- Search -->
 
 <form class="form-inline d-flex justify-content-center mb-0 md-form form-sm mt-0" name="movie_name" action="{{ url_for('search_movie') }}" method="POST">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input name="movie_name" class="form-control text-light form-control-sm ml-3 w-75 searchbar" type="text" placeholder="Search"
    aria-label="Search">
    <button class="btn waves-effect waves-light btn-index" type="submit" name="action">Search
    <i class="material-icons right">send</i>
  </button>
 </form>

 <!-- Add movie -->
   </div>
   <div class="container">
     <div class="row text-center align-center">
      <div class="col-12 mb-4 mt-4">
       <p class="add-paragraph">Dont see the movie that you want? Press the button below to add your custom movie.</p>

          <form action="{{ url_for('add_movie') }}">
                <button class="btn waves-effect waves-light btn-index" type="submit" name="action">Add a movie
           <i class="material-icons right">playlist_add</i>
         </button>
           </form>
       </div>
       </div>
 </div>
 </section>
  <!-- /.Add movie -->


  <!-- Moive info -->
  <section class="bg-index " style="height:100vh;">
 <div class="container">
  <div class="row">
    <div class="col s12 z-depth-5">
     <section class="wrapper center">
     
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img
            class="activator"
            src="{{ results.img_url }}"/>
        </div>
        <div class="card-content">
     
          <span class="card-title activator grey-text text-darken-4">
     {{results.movie_name}}
            <i class="material-icons right">more_vert</i></span>
            <hr>
          
          <a href="{{ url_for('view_movie',movie_id=results._id) }}">
          <button class="btn waves-effect waves-light btn-index" type="submit" name="action">Info&Trailer
           <i class="material-icons right">fast_forward</i>
         </button>
          </a>
          

         </div>
         <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
     {{results.category_name}}
            <i class="material-icons right x-icon">close</i></span>
          <p class="text-dark">
     {{results.movie_description}} Rating-  {{results.movie_rating}} 
          </p>
        </div>
       </div>
     
     <!-- ./Moive info -->
      </section>
    </div>
{% endblock %}

