{% extends 'base.html' %} {% block content %}

<div id="login">
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <form method="POST" action="{{url_for('signup')}}">
          <!--heading-->
            <h3 class="text-center text-info login-heading">Sign up</h3>
            <div class="form-group">
            <!--username-->
              <label for="username" class="text-info">Username:</label><br />
              <input type="text" class="text-login" name="userid" required/>
            </div>
            <div class="form-group">
            <!--password-->
              <label for="password" class="text-info">Password:</label><br />
              <input type="password" class="text-login" name="password" required/>
            </div>
            <select name="type">
            <!--user type-->
              <option value="admin">Admin</option>
              <option value="user">User</option>
            </select>
            <div class="form-group">
            <!--button-->
              <input
                type="submit"
                name="submit"
                class="btn button-login btn-info btn-md"
                value="Sign up"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
