{% extends 'base.html' %} {% block content %}

<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h3 class="my-4">Movie Name
    <small>Directed by:</small>
  </h3>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-6">
      <img class="img-fluid" src="{{ url_for('static', filename='images/popcorn.jpeg') }}" alt="">
    </div>

    <div class="col-md-6">
      <h4 class="my-3">About The movie:</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, 
       adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.
       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, 
       adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.
       Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, 
       adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.
       </p>
      
      
        <h5>Rating:</h5>
        <p>
        8/10
        </p>
        <h5>Director:</h5>
        <p>
        mr.ici .mornci
        </p>
        <h5>Running Time:</h5>
        <p>
        1hr40mins
        </p>
        <h5>Genre</h5>
        <p>
        Comedy-Action-Drama
        </p>
      
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  

  
  <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}
