{% extends 'base.html' %} 

 {% block content %} 

 <div class="container">
   <section>
     <div class="row">
      <h1>
      Movie name
      </h1>
      <p>
      Written by:
      </p>

      <hr>
      

      <!-- Page Layout here -->
    <div class="row">

      <div class="col s3 ">
        <img class="long-movie-image" src="https://images.unsplash.com/photo-1490971588422-52f6262a237a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="">
        <p>RATING:</p>
        <p>7/10</p>
        <hr>
        <p>Released:</p>
        <p>0000</p>
        <hr>
        <p>Director:</p>
        <p>mdkmwmnc</p>
        <hr>
        <p>RunTime:</p>
        <p>1hr 40mins</p>
        <hr>
      </div>

      <div class="col s9 ">
        <p class="text-for-image ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda atque sapiente corrupti amet 
        veniam at voluptatem officiis veritatis similique et animi quidem, doloribus cum ullam error quis voluptates voluptatum 
        praesentium molestiae quam vitae ea possimus. Iste, assumenda earum quia atque corrupti minima cumque provident voluptatum 
        fugit nisi totam enim saepe beatae delectus quisquam ipsam accusantium porro modi corporis non aut perspiciatis consequuntur
         explicabo dolor! Debitis, assumenda atque! Ad, officia voluptatem
         ntium molestiae quam vitae ea possimus. Iste, assumenda earum quia atque corrupti minima cumque provident voluptatum 
        fugit nisi totam enim saepe beatae delectus quisquam ipsam accusantium porro modi corporis non aut perspiciatis consequuntur
         explicabo dolor! Debitis, assumenda atque! Ad, officia voluptatem..</p>
      </div>

    </div>
      
      
      
     </div>
 </section>
 </div>


{% endblock %}